@page "/"

<PageTitle>Index</PageTitle>
<h3> Zaliczenie - Warstwa widoku w ujęciu ramowym.  </h3>
<p>Prosty generator faktur do pliku pdf. </p>
<p> Po wpisaniu wszystkich danych do faktury, generotor utworzy plik pdf. </p>
<button type="button" class="btn btn-primary">Generuj PDF</button>